//fonts
$base-font: "Poppins", sans-serif;
$heading-font: "Poppins", sans-serif;
$base-font-size: 14px;

//colors

$white: #fff;
$black: #111;
$black-lighter: #444;
$gray: #a4a4a4;
$gray-light: #f8f8f8;
$border-color: #e8e8e8;

$primary-color: #a00013;
$secondary-color: #00004d;
$orange: #eb5436;
$yellow: #f87c57;
